:root {
    --color-0: #a29201;
    --color-1: #fff839;
    --color-2: #00CAE5;
    --color-3: #7fa8fc;
    --color-4: #0130a2;
    --color-5: #dcc901;
    --desktop-width-4-1: 157px;
    --desktop-height-4-1: 131px;
    --mobile-width-4-1: 66px;
    --mobile-height-4-1: 51px;
    --desktop-width-3-1: 157px;
    --desktop-height-3-1: 131px;
    --mobile-width-3-1: 61px;
    --mobile-height-3-1: 50px;
    --desktop-width-3-0: 107px;
    --desktop-height-3-0: 134px;
    --mobile-width-3-0: 42px;
    --mobile-height-3-0: 53px;
    --desktop-width-1-1: 157px;
    --desktop-height-1-1: 126px;
    --mobile-width-1-1: 68px;
    --mobile-height-1-1: 54px;
    --desktop-width-1-0: 181px;
    --desktop-height-1-0: 114px;
    --mobile-width-1-0: 53px;
    --mobile-height-1-0: 57px;
    --desktop-width-2-1: 157px;
    --desktop-height-2-1: 133px;
    --mobile-width-2-1: 68px;
    --mobile-height-2-1: 57px;
    --desktop-width-0-1: 157px;
    --desktop-height-0-1: 130px;
    --mobile-width-0-1: 74px;
    --mobile-height-0-1: 58px;
    --desktop-width-0-0: 192px;
    --desktop-height-0-0: 140px;
    --mobile-width-0-0: 68px;
    --mobile-height-0-0: 157px;
    --desktop-width-4-0: 181px;
    --desktop-height-4-0: 149px;
    --mobile-width-4-0: 100px;
    --mobile-height-4-0: 57px;
    --desktop-width-2-0: 167px;
    --desktop-height-2-0: 125px;
    --mobile-width-2-0: 87px;
    --mobile-height-2-0: 65px;
    --desktop-width-5-0: 157px;
    --desktop-height-5-0: 140px;
    --mobile-width-5-0: 64px;
    --mobile-height-5-0: 54px;
    --desktop-width-5-1: 178px;
    --desktop-height-5-1: 125px;
    --mobile-width-5-1: 43px;
    --mobile-height-5-1: 62px;
}